body {
    margin: 20px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #76c893;
    color: #2b2839;
    border-bottom: 6px solid #dce1de;
    border-radius: 15px;
        
}

.border-blue {
    border: 1px dotted black;
}

a:link {
    text-decoration: none;
    color:#dce1de;
}

a:hover{
    color:#2b2839;
    text-decoration: underline;
}

